.header {
    display: grid;
    grid-template-columns: 300px auto 200px;
    align-items: center;
    padding: 5px 20px;
    height: 60px;
    border-bottom: 1px solid lightgrey;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo img {
    width: 40px;
}

.header_logo span {
    font-size: 22px;
    margin-left: 10px;
    color: grey;
    font-weight: 600;
}

.header_search {
    display: flex;
    align-items: center;
    width: 700px;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 10px;
}

.header_search input {
    background-color: transparent;
    border: 0;
    outline: 0;
    flex: 1;
}

.header_icons {
    display: flex;
    align-items: center;
}

.header_icons span {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header_icons .material-icons{
    color: rgb(36, 36, 36);
}

.header_icons svg.MuiSvgIcon-root {
    margin: 0px 10px;
}