.sidebar {
    margin-top: 10px;
}

.sidebar_btn button {
    background-color: transparent;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 5px 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 2px #ccc;
    cursor: pointer;
}

.sidebar_btn button span {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 10px;
}

.sidebar_options {
    margin-top: 10px;
}

.sidebar_option {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border-radius: 0px 20px 20px 0px;
}

.sidebar_option:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.sidebar_option span {
    margin-left: 15px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(78, 78, 78);
}

.sidebar_option-Active {
    background-color: #e8f0fe;
}

.sidebar_option-Active span {
    color: #1367d2;
}

.sidebar_option-Active svg {
    color: #1367d2;
}